/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .navigation-header .top-menu .menu-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    text-align: center;
  }
  .navigation-header .top-menu .menu-navbar ul.nav-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    text-align: center;
  }
  .social-icon {
    display: none !important;
  }
  section.banner-section {
    padding: 2rem 1rem;
  }
  section.banner-section .columns.is-reversed-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.banner-section .banner-group-details p.title {
    font-size: .875rem;
  }
  section.banner-section .banner-group-details p.subtitle {
    font-size: 1.75rem;
  }
  section.banner-section .banner-group-details .quote-btn,
  section.banner-section .banner-group-details .read-more-btn {
    height: 3.37rem;
    width: 8.375rem;
  }
  section.banner-section .banner-details-image .banner-img {
    height: 100%;
    width: 100%;
  }
  section.banner-section .banner-details-image .banner-img img {
    height: 20.25rem;
    width: 29.375rem;
  }
  section.upcomming-course-countdown {
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
  }
  section.upcomming-course-countdown .upcomming-counter-details-group {
    padding: 2rem 1rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .media .upcoming-course-img img {
    display: none;
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .media .media-content {
    overflow-x: visible;
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .media .media-content p.title {
    font-size: 1.875rem;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .counter {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .counter li {
    font-size: 0.875rem;
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .counter li::before {
    content: '';
    font-size: 1rem;
  }
  section.upcomming-course-countdown .upcomming-counter-details-group .counter li span {
    font-size: 2rem;
    margin: 0 1.2rem;
  }
  section.featured-coures {
    padding: 0rem 2rem;
  }
  section.featured-coures .feature-header {
    margin-top: 3rem;
  }
  section.featured-coures .feature-header h1.title {
    font-size: 2rem;
  }
  section.user-feedback {
    padding: 4rem 2rem;
  }
  section.user-feedback .feedback-banner-group .overlay-image {
    left: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=responsive.css.map */